/*------------------
        RESET
------------------*/    

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

/*------------------
        GENERAL
------------------*/  
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

/*------------------
        HEADER
------------------*/

.header-top {
    background-color: #add8e6;
    padding: 10px;  
    display: flex; 
}

.header-top > .container {
    background-color: #daa520;
    padding: 5px;
    display: flex;
    border: dashed 2px;  
}

.logo {
    width: 20%;
    text-align: start;
}

.login {
    width: 20%;
    text-align: end;
}

nav {
    width: 60%;
    text-align: center;
}

.header-bot {
    background-color: #00008b;
    height: 500px;
    padding: 50px 0;
}

.header-bot > .container {
    background-color: #ee82ee;
    min-height: 400px;
    max-width: 900px;
}

/*------------------
        SECTIONS
------------------*/
section {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.sect-grey {
    background-color: #d3d3d3;

}

.col-big {
    background-color: #1e90ff;
    min-height: 500px;
    width: 65%;
}

.col-small {
    background-color: #ffc0cb;
    min-height: 500px;
    width: 35%;
}

.big-green {
    background-color: #228b22;
    min-width: 100%;
    min-height: 900px;
}

/*------------------
        FOOTER
------------------*/

.footer-top {
    background-color: #23272a;
    display: flex;
}

.footer-top > .container {
    height: 630px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 40px;
    max-width: 1200px;
}

.col-vert-big {
    background-color: #f08080;
    width: 30%;
    height: 570px;
    border: dashed black 1px;
}

.col-vert-small {
    background-color: #20b2aa;
    width: 20%;
    height: 570px;
    border: dashed white 1px;
}

.footer-bot {
    background-color: #23272a;
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.row-or {
    background-color: #7fffd4;
    width: 1200px;
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    
}

button {
    font-size: 18px;
    padding: 4px;
    border: dashed black 1px;
}