/*------------------
        RESET
------------------*/    

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

/*------------------
        GENERAL
------------------*/  
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/*------------------
        HEADER
------------------*/

.header-top {
    background-color: #add8e6;
    padding: 10px;   
}

.header-top > .container {
    background-color: #daa520;
    padding: 5px;
    display: flex;
    border: dashed 2px;  
}

.logo {
    width: 20%;
    text-align: start;
}

.login {
    width: 20%;
    text-align: end;
}

nav {
    width: 60%;
    text-align: center;
}

.header-bot {
    background-color: #00008b;
    height: 500px;
    padding: 50px 0;
}

.header-bot > .container {
    background-color: #ee82ee;
    min-height: 400px;
    max-width: 900px;
}

/*------------------
        SECTIONS
------------------*/
section {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.sect-grey {
    background-color: #d3d3d3;
}

.col-big {
    background-color: #1e90ff;
    min-height: 500px;
    width: 730px;
}

.col-small {
    background-color: #ffc0cb;
    min-height: 500px;
    width: 470px;
}

.big-green {
    background-color: #228b22;
    width: 1200px;
    min-height: 900px;
}